@model ByteInsights.Models.Post

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @* Converts html code to presentable content
                    In other words it will allow the html code to render
                *@
                @Html.Raw(Model.Content)
            </div>
            
        </div>
    </div>
</article>


@* Comments related to this post *@


@* Display the image of the comments author *@